{% extends "base.html" %}
{% block start %}
    <h1>This is Index Page</h1>
    <a href="/contact/">
        Contact
    </a>
    |
    <a href="/about/">
        About
    </a>
    <p>But you can use it.</p>
        <!-- {{peopless}} -->
    <table>   
            <tr>
                <th>S.NO</th>
                <th>Name</th>
                <th>Age</th>
                <th>Can vote</th>
            </tr>

            {% for i in peopless %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{i.name}}</td>
              <td>{{i.age}}</td>
              <td>
                {% if i.age >= 18 %}
                👍
                {% else %}
                👎
                {% endif %}
              </td>
            </tr>
         
            {% endfor %}
        </table>
        {% for person in peopless %}
            {% if forloop.counter == 3 and person.name == "Rohit Sharma" %}
                Okay, "<b>Rohit sharmaa</b> can vote now"
            {% endif %}
        {% endfor %}
{% endblock %}