{% extends "base.html" %}
{% block start %}

<div class="container">
    <form class="card p-3 shadow-lg" style="margin-top: 2%;" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 style="text-align: center;">Add Receipe</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Receipe</label>
          <input name="reciepe_name" required type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
          <input name="reciepe_desc"  required type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
            <input name= "reciepe_images" type="file" class="form-control">
          </div>
        <button type="submit" class="btn btn-success">Add receipe</button>
      </form>
      <div class="mt-5">
        <div class="mx-auto col-6">
          <form>
            <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"><b>Search Receipe</b></label>
          <input name="search" type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
          </form>
          </div>
        </div>
      </div>
      <br><br>
      <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Receipe Name</th>
            <th scope="col">Receipe Description</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for i in receipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{i.reciepe_name}}</td>
            <td>{{i.reciepe_desc}}</td>
            <td>
              <img src="/media/{{i.reciepe_images}}" style="height: 100px;">
            </td>
            <td>
              <a href="/delete-receipe/{{i.id}}/" class="btn btn-danger">Delete</a> <br>
              <a href="/update-receipe/{{i.id}}/" class="btn btn-success" style="margin-top: 2%;">Edit</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>

</div>
{% endblock %}